body{
       background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),url(https://png.pngtree.com/thumb_back/fh260/background/20241213/pngtree-group-of-many-african-animals-wild-life-background-image_16779071.jpg);
        background-attachment: fixed;
         background-position: center center;
         background-repeat: no-repeat;
         background-size: cover;
         font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
         line-height: 1.5;
        
        
    }
    h1
    {
      font-family:Jazzier,Garamond;
      text-align:center;
      font-size:50px;
      line-height: 1.1;
     
    }
    h2{
      font-size:30px;
      background-color: rgb(14, 94, 134);
      padding: 0.5px;
      inline-size: 550px;
    }
    p{
      font-size:20px;
      margin-block:50px;
      
      
    }
    ol{
       font-size:20px;
    }
    footer{
      font-size:15px;
      text-align:end;
      color:brown;
      background-color:rgb(235, 164, 41);
    }
    a{
      /* color:rgb(181, 103, 8); */
      color:inherit;
    }
    strong{
      background-color:aqua;
    }